img[alt="comments-img"]{
    height:50px;
    width:50px;
}

img[alt="commuser-img"]{
    height:35px;
    width:35px;
}
.commentheader{
    font-family: 'Handlee', cursive;
}

.btn.btn-success {
    letter-spacing: 0.1em;
    font-weight: 450;
    text-transform: uppercase;
}