img[alt='Colorful Wall'] {
    max-height: 30%;
    max-width: 80%;
}

h4[class='m-0'] {
    color: rgb(11, 117, 255);
}

.namehead {
    color: rgb(168, 2, 168);
    font-family: 'Pacifico', cursive;
}

.techtitle {
    font-family: 'Handlee', cursive;
}

@media screen and (max-width: 992px) {
    img[alt='Colorful Wall'] {
        max-height: 20%;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    img[alt='Colorful Wall'] {
        max-height: 100%;
        max-width: 100%;
    }
}

img[alt='aboutimg'] {
    height: 70px;
    width: 70px;
}
